[project]
name = "cli"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "jinja2>=3.1.6",
    "questionary>=2.1.1",
    "rich>=14.3.1",
    "shellingham>=1.5.4",
    "typer>=0.21.1",
]
